body.publications .pl h4 {
  font-size: 25px;
  padding: 10px 0;
}

body.publications .section-intro,
body.publications .section {
  margin-bottom: 0;
}

body.publications .section a {
  color: var(--color-link);
}
